body {
	font-family: "Arial", sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
}

.newPostDiv {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.newPostDiv h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}
